<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.real.assignment.assignmentBySpringMybatis.dao.IStudentDao">

	<insert id="insertStudent" >
		insert into assignment(name,qq,occupation,enrolltime,graduatefrom,snumber,reportlink,desire,seniorname,realizefrom,create_at,update_at)
		      values(#{name},#{qq},#{occupation},#{enrolltime},#{graduatefrom},#{snumber},#{reportlink},#{desire},#{seniorname},#{realizefrom},#{create_at},#{update_at});
		<selectKey keyProperty="id" order="AFTER" resultType="int" >
			<!-- select last_insert_id() -->	
			select @@identity
		</selectKey>
	</insert>
	
	<update id="updateStudent">
		update assignment set name=#{name},qq=#{qq},occupation=#{occupation},enrolltime=#{enrolltime},
		                      graduatefrom=#{graduatefrom},snumber=#{snumber},reportlink=#{reportlink},
		                      desire=#{desire},seniorname=#{seniorname},realizefrom=#{realizefrom},update_at=#{update_at}
		                      where id=#{id}
	</update>
	
	<delete id="deleteStudentById">
		delete from assignment where id=#{id}
	</delete>
	
	<select id="selectAllStudent" resultType="Student">
		select * from assignment
	</select>
	
	<select id="selectStudentById" resultType="Student">
		select * from assignment where id=#{id}
	</select>
	
	<select id="selectStudentByName" resultType="Student">
		select * from assignment where name like '%' #{name} '%'
	</select>
	
</mapper>