<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<package name="com.real.assignment.assignmentBySpringMybatis.bean" />
	</typeAliases>

	<mappers>
		<mapper resource="com/real/assignment/assignmentBySpringMybatis/dao/mapper.xml" />
	</mappers>
</configuration>